@media screen and (max-width: 610px) {
  .container header nav .navigation{
    display: none;
  }
  .container header nav .burger-menu{
    display: flex;
  }
  .container header .left{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -3%;
  }
  .container header .left .description{
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .container header .head h1{
    width: 300px;
  }
  .container header .head .buttons {
    position: relative;
    left: -1%;
  }
  .container header .head .buttons a{
    width: 200px !important;
    height: 10px;
  }
}

@media screen and (max-width: 530px){
  .container .description {
    width: 430px !important;
  }
}

@media screen and (max-width: 465px){
  .container header .head .buttons a{
    width: 170px !important;
  }
}

@media screen and (max-width: 400px) {
  .container header .head .buttons a{
    width: 150px !important;
  }
  .container header .head .left .description{
    font-size: 22px !important;
  }
}

@media screen and (max-width: 388px) {
  .container header nav .logo{
    width: 70%;
  }
}

@media screen and (max-width: 355px) {
  .container header .head .left{
    left: -30%;
  }
  .container header nav .hamburger{
    position: relative;
    top: 20%;
  }
}

@media screen and (max-width: 320px) {
  .container header .head .left .buttons a{
    width: 125px !important;
  }
  .container header .head .left .description{
    font-size: larger !important;
    text-align: left !important;
    width: 300px !important;
  }
}

@media screen and (max-width: 1210px) {
  .container header .head .right{
    display: none;
  }
  .container header .head .left{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}