* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #00CED1; 
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  transition: all 0.2s linear;
}

.container header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkslategrey;
}

.container header nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.container header nav .logo {
  width: 50%;
  height: 100%;

  cursor: default;
  display: flex;
  align-items: center;
  justify-content: start;

  padding-left: 3%;
  color: #fff;
}

.container header nav .navigation {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 3%;
}

.container header nav .navigation .nav-link a {
  color: #dfdfff;
}

.container header nav .navigation .nav-link {
  transition: all 0.2s linear;
}

.container header nav .navigation .nav-link:hover {
  transform: scale(1.2);
}

.container header .head {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container header .head .left,
.container header .head .right {
  width: 50%;
  height: 100%;
}

.container header .head .left {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  color: #fff;
  font-family: "Courier New", Courier, monospace;

  padding-left: 10%;
}

.container header .head .left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 1%;

  gap: 30px;
}

.container header .head .left .buttons a {
  width: 250px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: #000;

  transition: all 0.2s linear;
}

.container header .head .left .buttons a:hover {
  background-color: #fff;
  color: #000;
}

.container header .head .left .buttons .contact-link {
  background-color: #fff;
  color: #000;
  transition: all 0.2s linear;
}

.container header .head .left .buttons .contact-link:hover {
  background-color: #000;
  color: #fff;
}

.container header .head .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container header .head .right .card {
  width: 500px;
  height: 500px;

  background-color: aquamarine; 
  border-radius: 20px;

  position: absolute;
}

.container header .head .right .cardTwo{
  background-color: darkturquoise;
  position: relative;
  top: 3%;
  left: 3%;
}

.container header .head .right .cardOne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container header .head .right .cardOne img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 999;
}

.container header .head .right .cardOne span{
  color: #fff;
  font-size: 30px;
  z-index: 1;
  position: relative;
  top: 5%;
}

.container header .head .right .cardOne a{
  z-index: 1;
  position: relative;
  width: 250px;
  height: 50px;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  transition: all .2s linear;
  border-radius: 10px;
}

.container header .head .right .cardOne a:hover{
  background-color: #fff;
  color: #000;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.burger-menu {
  display: none;
  z-index: 9901;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: darkcyan;
  color: white;
  list-style: none;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
}

.showMenu {
  transform: translateY(0);
}

.menu .nav-link a{
  color: #fff;
}


/* about */


.container .about{
  width: 100%;
  height: 100%;
  position: relative;

  background-color: #dfdfff;
}

.container .sectionBox{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .about .content{
  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .about .content .right{
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
} 

.container .about .content .left{
  width: 50%;
  height: 100%;

  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
}

.container .section{
  width: 100%;
  height: 100%;
}

/* Projects */



/* Project Section Styles */
#projects {
  padding: 50px;
  text-align: center;
  background-color: #2F4F4F;
}

.container .Projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Project Card Styles */
.project-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 300px;
  padding: 20px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  color: #ccc;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover .card-content {
  filter: blur(5px);
  cursor: default;
}

.project-card:hover .visit-btn {
  opacity: 1;
  transform: translateY(0);
}

.card-content {
  transition: filter 0.3s ease;
}

.project-card h3 {
  font-size: 1.5rem;
}

.project-card p {
  margin: 15px 0;
}

.visit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00CED1;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%) translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, all .2s linear;

}

.visit-btn:hover{
  background-color: transparent;
  color: #00CED1;
  border: 1px solid #00CED1;
}